@import url('https://fonts.cdnfonts.com/css/chinese-rocks');

@font-face {
	font-family: crock;
	src: url(../font/crock.ttf) format('truetype');
}

@font-face {
	font-family: texat;
	src: url(../font/texat.otf) format('opentype');
}

body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;

  font-family: 'Chinese Rocks Rg', sans-serif;
}

#menu{
  position: absolute;
  
  display: inline-block;
  
  margin-top: 15%;

  width: 100%;
  height: 100%;


  text-align: center;
	justify-content: center;
	align-items: center;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

#main-elements-title {
  position: absolute;
  display: inline-block;

	width: 20vw;
  height: 2.5vw;
  
  color: rgba(255, 255, 255, 0.842);

  font-family: 'Chinese Rocks Rg', sans-serif;
  font-size: 1.2vw;

  text-align: center;

  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 1vw;
  
	background-image: url(../img/default.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  opacity: 0.9;
}

#main-elements-list {
  position: absolute;
  display: inline-block;

	overflow-y: scroll;

	width: 18vw;
  height: 25%;

  padding-left: 0.7vw;
  padding-right: 0.5vw;
  padding-top: 0.5vw;

  margin-top: 10%;

  left: 50%;
  transform: translate(-50%, -50%);

}

#main-elements-list-background-border {
  position: relative;
  display: inline-block;

  height: 1.5vw;
  width: 17vw;

  margin-top: 2%;
  padding-top: 0.3vw;

  background-color: rgba(37, 37, 37, 0.637);
  border: 2px solid rgba(37, 37, 37, 0.775);

  border-radius: 2%;
}

#main-elements-list-label {
  position: relative;
  display: inline-block;

  font-size: 0.8vw;
  
	color: rgb(255, 255, 255, 0.8);

	font-family: "crock", crock, serif;

  height: 1.5vw;
  width: 17vw;

  margin-top: -9%;
  margin-left: 1.2%;

  text-align: left;
}

#main-elements-list-label:hover { color: white; }

#main-elements-list-cost-label {
  position: relative;
  display: inline-block;

  font-size: 0.8vw;
  
	color: rgb(255, 255, 255, 0.8);

	font-family: "crock", crock, serif;

  height: 1.5vw;
  width: 17vw;

  margin-top: -9%;

  text-align: right;
}

#main-elements-list-cost-label:hover { color: white; }


#main-elements-page-list {
  position: absolute;
  display: inline-block;

	font-size: 0.7vw;	

  width: 16.5vw;
	height: 1vw;

  left: 50%;
  transform: translate(-50%, -50%);
}

#main-elements-page-list-value{
	position: relative;
  display: inline-block;

	color: rgb(255, 255, 255, 0.8);

	font-size: 1.1vw;
  font-weight: 550;

	height: 1vw;
	width: 1.2vw;

	text-align: center;

  background-color: rgba(37, 37, 37, 0.637);
  border: 2px solid rgba(37, 37, 37, 0.775);

  border-radius: 2%;

}

#main-elements-page-list-value + #main-elements-page-list-value {
  margin-left: 0.7vw;
}

#main-elements-page-list-value:hover {
  opacity: 0.7;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
  scroll-behavior: smooth;

}
/* Track */
::-webkit-scrollbar-track {
  border: 0.0px solid grey;
  border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(49, 49, 49, 0.8);
  border-radius: 5px;
}

input[type=text] {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;

	color: rgba(255, 255, 255, 0.719);

	text-align: center;
  background-color: rgba(231, 231, 231, 0.781);
	border: 1px solid rgba(129, 129, 129, 0.253);
}